# Python
__pycache__/
*.pyc
.python-version
virtualenv

# Distribution / Build
build/
dist/
MANIFEST
*.egg-info

# Testing / Linting
.cache/
.coverage
.pytest_cache/
.ruff_cache/

# IDEs
.idea/
.vscode

# Project specific
cs2_schema.json
cs2schema.json
